.container{
    display: flex;
    justify-content: space-evenly;

}


.btnNext {
    --color: #000000;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: rgba(38, 51, 54, 0);
   }
   
   .btnNext:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btnNext:hover {
    color: #fff;
   }
   
   .btnNext:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btnNext:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btnNext:active:before {
    background: #000000;
    transition: background 0s;
   }


   .btnPrev {
    --color: #000000;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: rgba(38, 51, 54, 0);
   }
   
   .btnPrev:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btnPrev:hover {
    color: #fff;
   }
   
   .btnPrev:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btnPrev:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btnPrev:active:before {
    background: #000000;
    transition: background 0s;
   }